.my-content {
	width: 75% !important;
}
.my-sidebar {
  	width: 25% !important;
}
@media screen and (max-width: 1000px) {
  	.my-content {
    	width: 100% !important;
  	}
  	.my-sidebar, #aplayer {
    	display: none;
  	}
}
.code-toolbar {
    padding: 0;
    min-width: calc(100% + 42px);
    margin: 0 -21px !important;
    margin-bottom: 1em !important;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background: #f5f2f050 !important;
}
.container {
	font-size: 16px;
}

.line-numbers .line-numbers-rows {
	top: -1px !important;
}

.aplayer-icon-lrc {
    display: none !important;
}

#aplayer {
    -webkit-transform: translateZ(0);
}
